@import "@/styles/variables.scss";
@import "@/styles/breakpoints.scss";
nav.desktop-nav {
  padding: 1em 10%;
  display: flex;
  align-items: center;
  gap: 40px;
  box-shadow: 0px 10px 10px -10px $tertiary-color;
  background:white;
  z-index:2;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  @include sm{
    display:none;
  }
}

.logo {
  width: 10%;
}
.logo img {
  width: 100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 40px;
}

.nav-item-active {
  font-weight: 700 !important;
  color: $primary-text-color !important;
}

.nav-item {
  text-decoration: none;
  color: $secondary-text-color;
  padding: 5px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 18px;
}

nav.mobile-nav > div {
  padding: 1em 0;
  align-items: center;
  justify-content: space-around;
  display: flex;
  box-shadow: 0px -10px 10px -10px $tertiary-color;
  background: white;
  z-index: 2;
  width: 100%;
}
nav.mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 2;
  display: none;
  @include sm {
    display: block;
  }
}
nav.mobile-nav img {
  width: 1.5em;
}