// Color variables
$primary-color: #EB5440;
$secondary-color: #4A4B4C;
$tertiary-color: #E8E8E8;
$tertiary-2-color: #c3c3c3;
$bg-1-color : #F6F6F6;
$bg-2-color: #FFFFFF;

// Text Color
$primary-text-color:#000000;
$secondary-text-color: #4A4B4C;
$hyperlink-text-color: #067BC2;

// Font settings
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
